.main-div{
    background-color: cadetblue;
}

.title{
    color: white;
    font-size: 3rem;
    font-weight:bolder;
    
}
.banner{
    width: 100%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
    height:300px;
    background-image: url('../../Photo/banner.jpg');
    opacity: 0.9;
    display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
.title{
  font-size: 2rem;
}
}